<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <title>Document</title>
</head>
<body>
    <a href="http://google.com">페이지 이탈</a>
    <div class="score">0</div>
    <button class="game-over">게임 오버</button>
</body>
</html>
<script>
    const enterTime = new Date().getTime();

    window.addEventListener("beforeunload", function() {
        localStorage.setItem('play-time', new Date().getTime() - enterTime);

        $.ajax({
            url: '/game/playtime/add.do',
            type: 'POST',
            data: {
                gameId: 800001,
                playtime: new Date().getTime() - enterTime
            }
        }).done(function(data) {
        	console.log(data);
        });
    });

    let score = 0;

    function setScore() {
        $('.score').html('');
        $('.score').html(score);

        score += 100;
    }

    let display = setInterval(function() {
        setScore()}, 1000);

    $('.game-over').on('click', function() {
        clearInterval(display);
        localStorage.setItem('score', score);

        $.ajax({
            url: '/score/add.do',
            type: 'POST',
            data: {
                gameId: 800001,
                score: score
            }
        }).done(function(data) {
        	console.log(data);
        });

        score = 0;
    });
</script>